@import '~sass/variables';

.card {
    border: 2px solid;
    border-color: $main-dark-color;
    border-radius: .25rem;
    // width: 30%;
    margin-top: 2%;
    margin-left: 1%;
    padding: .50rem;
    .content {
        padding: .50rem;
        max-height: 450px;
        overflow: auto;
    }
}
